<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @snippet.name %>
</p>

<p>
  <b>Language:</b>
  <%= @snippet.language %>
</p>

<div class="code_block">
  <b>Source code:</b>
  <% if @snippet.highlighted_code.present? %>
    <%= raw @snippet.highlighted_code %>
  <% else %>
    <pre><%= @snippet.plain_code %></pre>
  <% end %>
</div>


<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
